run = "npm run dev"
hidden = [".config", "package-lock.json", ".next", ".swc"]
modules = ["nodejs-20", "web"]

[nix]
channel = "stable-25_05"

[env]
NEXT_TELEMETRY_DISABLED = "1"

[deployment]
run = ["sh", "-c", "npm run dev"]
deploymentTarget = "cloudrun"

[[ports]]
localPort = 3000
externalPort = 80
